GitPython==3.1.27
matplotlib==3.5.1
matplotlib-inline==0.1.3
numpy==1.22.3
pandas==1.4.2
pickle-mixin==1.0.2
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-lsp-black @ file:///tmp/build/80754af9/python-lsp-black_1634232156041/work
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
scikit-learn==1.0.2
scipy==1.8.0
sklearn==0.0
spyder @ file:///C:/ci/spyder_1636481183311/work
spyder-kernels @ file:///C:/ci/spyder-kernels_1634237040526/work
streamlit==1.8.1
